.watermark {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: inherit;
  height: 5rem;
  box-sizing: border-box;
  padding: 0.5rem;
}

.exif {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0 0.5rem;
}

.leftSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 10px;
}

.cameraModel {
  font-weight: bold;
  margin: 0;
}

.cameraMake {
  margin: 8px 0 0;
  opacity: 0.8;
  color: inherit;
}

.rightSection {
  display: flex;
  align-items: center;
  padding: 0 24px;
  gap: 1rem;
  opacity: 0.9;
}

.brandIconContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.brandIcon {
  width: 100%;
  height: 100%;
}

.divider {
  width: 1px;
  height: 32px;
  background-color: currentColor;
  opacity: 0.3;
}

.infoContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.5rem;
}

.shootingInfo {
  display: flex;
  gap: 1rem;
}

.timestamp {
  text-align: right;
  opacity: 0.8;
}

.copyright {
  text-align: center;
  /* padding: 0.5rem; */
  opacity: 0.8;
}

/* 当版权信息在顶部时，使用底部边框 */
.watermark[style*="column"] .copyright {
  border-top: none;
}

/* 当版权信息在底部时，使用顶部边框 */
.watermark[style*="column-reverse"] .copyright {
  border-bottom: none;
}
